
h1{
color: #FFF;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 166.667% */
letter-spacing: 0.6px;
margin-left: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

.header {
    align-items: center;
    background-color: #0C0C0E;
    display: flex;
    flex: row;
    flex-shrink: 0;
    height: 90px;
    justify-content: flex-start;
    mix-blend-mode: normal;
    width: 1440px;
    height: 90px;
}

.navbar {
    color: white;
    align-items: flex-start;
    display: flex;
    gap: 30px;
    margin-left: 454px;
    position: relative;
    width: fit-content;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin: top 20px;
    }

.navbar-link {
    letter-spacing: 0;
    line-height: 50px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 40px;    

}


.body {
width: 1440px;
height: 300px;
flex-shrink: 0;
background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.about {
    display: flex;
flex-direction: column;
justify-content: center;
height: 40px;
letter-spacing: 0;
line-height: 40px;
margin-top: 40px;
text-align: center;
white-space: nowrap;
    width: 1440px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    }

    .line {
        position: relative;
        background-color: #0c0c0e;
        width: 50px;
        height: 1px;
        margin-left: 695px;
        margin-top: 20px
      
        }
    

.books-and-coffee {
display: flex;
flex-direction: column;
justify-content: center;
height: 40px;
letter-spacing: 0;
line-height: 40px;
margin-top: 40px;
text-align: center;
white-space: nowrap;
width: 1440px;
font-size: 20px;
font-style: normal;
font-weight: 400;

}

.images {
align-items: flex-start;
display: flex;
gap: 25px;
margin-top: 20px;
min-width: 1440px;
margin-left: 20px;
margin-right: 20px;
}
  
 .photo {
 width: 1440px;
 height: 600px;
 object-fit: cover;
 }


  

.slide1 {
    background-color:#BF9060;
    border-radius: 50px;
    width: 16px;
    height: 16px;  
   
  }

.slide {
    background-color: black;
    border-radius: 50px;
    width: 16px;
    height: 16px;
  
  
}

.carousel-pagination {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    margin-top: 40px;
    min-width: 68px; 
    margin-left: 686px;
}

.pick-favorites-of {
 
font-size: 20px;
font-family: Inter;
color: #000;
margin-left: 20px;

}




    .bg-description {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #fff;
        border: 1px solid #000;
        box-sizing: border-box;
        width: 550px;
        height: 555px;
  }
  .rectangle {
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 2px;
        border: 1px solid #bb945f;
        box-sizing: border-box;
        width: 75px;
        height: 30px;
  }
  .own {
        position: absolute;
        top: 0px;
        left: 25px;
        letter-spacing: 1px;
        margin-top: 10px;
  }
  .button {
        position: absolute;
        top: 510px;
        left: 20px;
        width: 75px;
        height: 30px;
        text-align: center;
        font-size: 10px;
        color: #bb945f;
  }
  .book-icon {
        position: absolute;
        top: 255px;
        left: 390px;
        width: 200px;
        height: 300px;
        object-fit: cover;
  }
  .the-last-queen {
        margin: 0;
        text-transform: uppercase;
  }
  .by-clive-irving {
        margin: 0;
        text-transform: capitalize;
  }
  .the-last-queen-container {
        position: absolute;
        top: 75px;
        left: 20px;
        letter-spacing: 2px;
        line-height: 40px;
  }
  .a-timely-and {
        position: absolute;
        top: 175px;
        left: 20px;
        letter-spacing: 2px;
        line-height: 40px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        width: 355px;
  }
  .staff-pick-child {
        position: absolute;
        top: 39.5px;
        left: -0.5px;
        border-top: 1px solid #bb945f;
        box-sizing: border-box;
        width: 61px;
        height: 1px;
  }
  .staff-picks {
        position: absolute;
        top: 0px;
        left: 0px;
        letter-spacing: 2px;
        line-height: 40px;
        text-transform: capitalize;
  }
  .staff-pick {
        position: absolute;
        top: 15px;
        left: 20px;
        width: 102px;
        height: 40px;
        font-size: 20px;
        font-family: Forum;
  }
  .fourth-book {
        position: absolute;
        top: 595px;
        left: 810px;
        width: 590px;
        height: 555px;
  }
  .rectangle1 {
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 2px;
        border: 1px solid #0c0c0e;
        box-sizing: border-box;
        width: 75px;
        height: 30px;
  }
  .buy {
        position: absolute;
        top: 0px;
        left: 27px;
        letter-spacing: 1px;
        margin-top: 10px;
  }
  .button1 {
        position: absolute;
        top: 510px;
        left: 20px;
        width: 75px;
        height: 30px;
        text-align: center;
        font-size: 10px;
        color: #0c0c0e;
  }
  .third-book {
        position: absolute;
        top: 595px;
        left: 0px;
        width: 590px;
        height: 555px;
  }
  .second-book {
        position: absolute;
        top: 0px;
        left: 810px;
        width: 590px;
        height: 555px;
  }
  .first-book {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 590px;
        height: 555px;
  }
  .favorites-items {
        position: absolute;
        top: 40px;
        left: 20px;
        width: 1400px;
        height: 1150px;
        font-size: 15px;
        margin-top: 10px;
  }
  .line {
        position: absolute;
        top: 60px;
        left: 55px;
        background-color: #0c0c0e;
        width: 50px;
        height: 1px;
  }
 
  .favorites {
    position:relative ;
    left: 0px;
    background-color: #fff;
    width: 1400px;
    height: 1250px;
    overflow: hidden;
    text-align: left;
    margin-top: 20px;
    display: flex;    
}

.desserts-cakes {
    position: relative;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: capitalize;
    font-family: Forum;
    color: #bb945f;
    }
    .forest-gateau {
    position: relative;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: capitalize;
    }
    .menu-item-child {
    position: relative;
    border-top: 1px solid #bb945f;
    box-sizing: border-box;
    width: 101px;
    height: 1px;
    }
    .div {
    position: relative;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: capitalize;
    font-family: Forum;
    }
    .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
    }
    .deserts {
    position: absolute;
    top: 0px;
    left: 918px;
    width: 482px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 40px;
    }
    .menu-item6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    }
    .french-press-pot {
    position: relative;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    width: 196px;
    flex-shrink: 0;
    }
    .coffe-and-tea-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    }
    .menu {
    position: absolute;
    top: 281px;
    left: 20px;
    width: 1400px;
    height: 520px;
    }
    .i {
    text-transform: capitalize;
    }
    .n-our-library {
    text-transform: lowercase;
    }
    .in-our-library-we-have-of-coz {
    margin: 0;
    }
    .y {
    text-transform: uppercase;
    }
    .in-our-library-container {
    position: absolute;
    top: 121px;
    left: 20px;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    width: 1400px;
    }
    .line {
    position: ;
    top: 70px;
    left: 85px;
    background-color: #0c0c0e;
    width: 50px;
    height: 1px;
    margin-left: 1px;
    
    }

    .coffee-shop {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    }
    .section-title {
    position: absolute;
    top: 20px;
    left: 610px;
    width: 220px;
    height: 61px;
    font-size: 40px;
    color: #0c0c0e;
    font-family: Forum;
    }
    .coffeshop {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 841px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: Inter;
    }

    .library-director-amanda-container {
        position: absolute;
        top: 60px;
        left: 0px;
        letter-spacing: 2px;
        line-height: 40px;
        text-transform: capitalize;
        }
        .senior-staff {
        position: absolute;
        top: 280px;
        left: 0px;
        width: 351px;
        height: 100px;
        }
        .putterham-library-617 {
        position: absolute;
        top: 120px;
        left: 0px;
        letter-spacing: 2px;
        line-height: 40px;
        text-transform: capitalize;
        }
        .phone-info {
        position: absolute;
        top: 80px;
        left: 0px;
        width: 503px;
        height: 160px;
        }
        .for-all-library {
        position: absolute;
        top: 0px;
        left: 0px;
        letter-spacing: 2px;
        line-height: 40px;
        text-transform: capitalize;
        }
        .text-info {
        position: relative;
        width: 503px;
        height: 380px;
        }         

        
        .contacts-info {
        position: absolute;
        top: 121px;
        left: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 201px;
        }
        .line {
        position: absolute;
        top: 60px;
        left: 95px;
        background-color: #0c0c0e;
        width: 50px;
        height: 1px;
        }
        .section-title {
        position: absolute;
        top: 20px;
        left: 600px;
        width: 240px;
        height: 61px;
        font-size: 40px;
        color: #0c0c0e;
        font-family: Forum;
        }
        .contacts {
        position: relative;
        background-color: #fff;
        width: 100%;
        height: 575px;
        overflow: hidden;
        text-align: center;
        font-size: 20px;
        color: #000;
        font-family: Inter;
        }


           .log-in {
            position: relative;
            letter-spacing: 1px;
            }

            .button {
            position: absolute;
            top: 223px;
            left: 381px;
            border-radius: 2px;
            border: 1px solid #0c0c0e;
            box-sizing: border-box;
            width: 75px;
            height: 30px;
            display: flex;
            flex-direction: row;
            padding: 10px 0px;
            align-items: center;
            justify-content: center;
            }

            .button1 {
            position: absolute;
            top: 223px;
            left: 286px;
            border-radius: 2px;
            border: 1px solid #0c0c0e;
            box-sizing: border-box;
            width: 75px;
            height: 30px;
            display: flex;
            flex-direction: row;
            padding: 10px 0px;
            align-items: center;
            justify-content: center;
            }

            .you-will-be {
            position: absolute;
            top: 68px;
            left: 0px;
            font-size: 20px;
            letter-spacing: 0.02em;
            line-height: 40px;
            color: #000;
            text-align: right;
            display: flex;
            align-items: center;
            width: 456px;
            }

            .get-a-reader {
            position: absolute;
            top: 0px;
            left: 236px;
            font-size: 30px;
            letter-spacing: 0.02em;
            font-family: Forum;
            color: #000;
            }

            .get-a-card {
            position: absolute;
            top: 121px;
            left: 964px;
            width: 456px;
            height: 253px;
            font-family: Inter;
            }

            .white-bg {
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: #fff;
            border: 3px solid #bb945f;
            box-sizing: border-box;
            width: 600px;
            height: 386px;
            }

            .gold-bg {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: #bb945f;
            width: 560px;
            height: 272px;
            }

            .card-number {
            position: absolute;
            top: 8px;
            left: 20px;
            letter-spacing: 0.02em;
            line-height: 50px;
            }

            .input-number {
            position: absolute;
            top: 201px;
            left: 40px;
            width: 520px;
            height: 66px;
            }

            .input {
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 10px;
            background-color: #fff;
            width: 520px;
            height: 66px;
            }

            .input-text {
            position: absolute;
            top: 110px;
            left: 40px;
            width: 520px;
            height: 66px;
            }

            .button2 {
            position: absolute;
            top: 312px;
            left: 179px;
            border-radius: 2px;
            border: 1px solid #0c0c0e;
            display: flex;
            flex-direction: row;
            padding: 10px 40px;
            align-items: flex-end;
            justify-content: flex-start;
            text-align: center;
            font-size: 20px;
            color: #0c0c0e;
            font-family: Inter;
            }

            .brooklyn-public-library {
            position: absolute;
            top: calc(50% - 153px);
            left: 40px;
            letter-spacing: 0.02em;
            line-height: 50px;
            color: #000;
            }

            .card-bg {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 600px;
            height: 386px;
            }

            .card-body {
            position: absolute;
            top: 66px;
            left: 0px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 600px;
            height: 387px;
            }

            .find-your-library {
            position: absolute;
            top: 0px;
            left: 138px;
            letter-spacing: 0.02em;
            font-family: Inter;
            color: #000;
            }

            .find-card {
            position: absolute;
            top: 121px;
            left: 20px;
            width: 600px;
            height: 453px;
            text-align: left;
            font-size: 30px;
            color: #8e8e8e;
            }

            .line {
            position: absolute;
            top: 60px;
            left: 161px;
            background-color: #0c0c0e;
            width: 50px;
            height: 1px;
            }

              .digital-library-cards {
            position: absolute;
            top: 0px;
            left: 0px;
            letter-spacing: 2px;
            line-height: 40px;
            text-transform: capitalize;
            }

               .section-title {
            position: absolute;
            top: 20px;
            left: 534px;
            width: 372px;
            height: 61px;
            font-size: 40px;
            }

              .librarycard {
            position: relative;
            background-color: #fff;
            width: 100%;
            height: 614px;
            overflow: hidden;
            text-align: center;
            font-size: 10px;
            color: #0c0c0e;
            font-family: Forum;
            }

            .div {
                  position: absolute;
                  top: 2px;
                  left: calc(50% - 700px);
                  letter-spacing: 2px;
                  line-height: 20px;
                  }
                  .username {
                  position: absolute;
                  top: 0px;
                  left: calc(50% + 587px);
                  letter-spacing: 2px;
                  line-height: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 113px;
                  height: 22px;
                  }
                  .the-rolling-scopes {
                  position: absolute;
                  top: 0px;
                  left: calc(50% - 150px);
                  letter-spacing: 2px;
                  line-height: 20px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 300px;
                  height: 22px;
                  }
                  .footer-rss {
                  position: absolute;
                  top: 184px;
                  left: calc(50% - 700px);
                  width: 1400px;
                  height: 22px;
                  }
                  .footer-child {
                  position: absolute;
                  top: 139.5px;
                  left: 19.5px;
                  border-top: 1px solid #fff;
                  box-sizing: border-box;
                  width: 1401px;
                  height: 1px;
                  }
                  .cadman-plaza-new {
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  line-height: 20px;
                  display: flex;
                  align-items: center;
                  width: 229px;
                  }
                  .mon-fri {
                  margin: 0;
                  }
                  .mon-fri-container {
                  position: absolute;
                  top: 0px;
                  left: 1251px;
                  line-height: 20px;
                  text-align: right;
                  }
                  .cadman-plaza-new-york-ny-112-parent {
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 1400px;
                  height: 40px;
                  }
                  .social-media-icon {
                  position: relative;
                  width: 102px;
                  height: 24px;
                  }
                  .sat-sun-container {
                  position: relative;
                  line-height: 20px;
                  }
                  .social-media-parent {
                  position: absolute;
                  top: 50px;
                  left: 1px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  gap: 1147px;
                  text-align: right;
                  }
                  .frame-parent {
                  position: absolute;
                  top: 20px;
                  left: 20px;
                  width: 1400px;
                  height: 90px;
                  text-align: left;
                  font-size: 15px;
                  }
                  .footer {
                  position: relative;
                  background-color: #0c0c0e;
                  width: 100%;
                  height: 250px;
                  overflow: hidden;
                  text-align: center;
                  font-size: 20px;
                  color: #fff;
                  font-family: Inter;
                  }